<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="false" xmlns="proxy.xsd" logFile="C:\\Temp\\proxy.log" logLevel="Error">
    <serverUrls>
        <serverUrl url="http://services8.arcgisonline.com" matchAll="true"/>
		<serverUrl url="http://utility.arcgisonline.com" matchAll="true"/>
		<serverUrl url="https://msi:6443/" matchAll="true"/>
		<serverUrl url="https://localhost:6443/" matchAll="true"/>
		<serverUrl url="https://ltg-auth.vaisala.com/" matchAll="true"/>
		<serverUrl url="https://ltg.vaisala.com/" matchAll="true"/>
		
		
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
